 <div layout="row" layout-align="center center" id="container">
    <md-card id="add_bucketlist">
        <md-card-content>
            <form [formGroup]="addbucketlistForm" *ngIf="active" (ngSubmit)="onSubmitForm()">
                <md-input-container>
                    <input mdInput placeholder="Bucketlist Name" formControlName="name" type="text" id="name" required>
                    <md-hint align="end" *ngIf="formErrors.name">{{ formErrors.name }}</md-hint>
                </md-input-container>
                <button md-raised-button class="custom-button bg-primary" type="submit" [disabled]="!addbucketlistForm.valid">ADD BUCKETLIST</button>
            </form>
        </md-card-content>
    </md-card>
    <br><br>
    <div class="item_header">
        <h1 id="bucketlist_title">{{user_name}}'s Bucket Lists</h1>
    </div>
    <div class="no_items t-primary" *ngIf="bucketlists.length==0">
        <i>NO EXISTING BUCKETLISTS. YOU CAN ADD THEM ABOVE</i>
    </div>
    <br><br>
    <md-list>
        <md-list-item *ngFor="let single_bucketlist of bucketlists">
            <md-card class="list_card"  (click)="navBucketlistItem(single_bucketlist.id, single_bucketlist.name)">
                <md-card-content id="list_content">
                    <p id="item_name">{{single_bucketlist.name}}</p>
                    <img id="item_delete" src="./assets/svg/ic_delete_black_24px.svg" (click)="deleteBucketlist(single_bucketlist.id)">
                </md-card-content>
            </md-card>
        </md-list-item>
    </md-list>
    <br>
    <div class="pagination" *ngIf="bucketlists.length !== 0">
        <button md-mini-fab color="accent" [disabled]="bucketlist_page.page == 1" (click)="getBucketLists(bucketlist_page.page-1)">&lt;</button>
        <b class="page">{{bucketlist_page.page}}</b>
        <button md-mini-fab color="accent" [disabled]="bucketlist_page.page == bucketlist_page.pages"  (click)="getBucketLists(bucketlist_page.page+1)">&gt;</button>
    </div>

</div>