  <div layout="row" layout-align="center center" id="container">
    <md-card id="bucketlist_header">
        <img class="item_delete item_svg" src="./assets/svg/ic_arrow_back_blue_24px.svg" (click)="back()">
        <md-card-content>
            <form [formGroup]="editbucketlistForm" *ngIf="active" (ngSubmit)="updateBucketlistName()">
                <md-input-container>
                    <input mdInput [readonly]="!edit" value="{{bucketlist.name}}" formControlName="name"  type="text" id="name" required>
                    <md-hint align="end" *ngIf="formErrors.name">{{ formErrors.name }}</md-hint>
                </md-input-container>
                <img id="item_edit" *ngIf="!edit" src="./assets/svg/ic_mode_edit_black_24px.svg" (click)="canEdit()">
                <button md-raised-button class="custom_button" type="submit" *ngIf="edit" [disabled]="!editbucketlistForm.valid">UPDATE</button>
                <button md-raised-button class="custom_button" id="cancel" (click)="cancel()" *ngIf="edit">CANCEL</button>
            </form>
        </md-card-content>
        <md-card-footer>
            <div id='create_details'>
                <h5 id='create'>DATE CREATED: <i>{{bucketlist.date_created | date:'medium'}}</i></h5>
                <h5 id='modify'>DATE MODIFIED: <i>{{bucketlist.date_modified | date:'medium'}}</i></h5>
            </div>
        </md-card-footer>
    </md-card>
    <br><br>
    <div class="item_header">
        <h1 id="bucketlist_title">Bucket List Items</h1>
        <button md-mini-fab color="primary" (click)="openAddItemDialog()">
            <md-icon class="md-24">add</md-icon>
        </button>
    </div>
    <div class="no_items" *ngIf="bucketlist_items.length==0">
        <i>NO EXISTING BUCKETLIST. USE THE ADD BUTTON ABOVE TO ADD BUCKETLIST ITEMS</i>
    </div>

    <md-list>
        <md-list-item *ngFor="let item of bucketlist_items; let idx = index">
            <md-card id="list_card" (click)="openUpdateItemDialog(item, idx)">
                <md-card-content id="list_content">
                    <p id="item_name">{{item.name}}</p>
                    <img class="item_delete item_svg" src="./assets/svg/ic_delete_black_24px.svg" (click)="deleteItem(item.id)">
                    <img class="item_completed item_svg" *ngIf="item.completed" src="./assets/svg/ic_check_circle_black_24px.svg">
                </md-card-content>
            </md-card>
        </md-list-item>
    </md-list>

</div>
