#container{
    padding-top: 1.5em;
}

md-card{
    margin: auto;
    padding: 0.15em 0.15em 0.15em 0.15em;
    width: max-content;
    text-align: center;
}

md-card-content{
    padding: 0;
}

md-card-footer{
    padding-top: 0;
}
