<md-toolbar class="toolbar">
    <div layout="row" class="container">
        <img md-card-image src="assets/images/Bucketlist_logo.png"  style="margin:auto; width: 70%;" (click)="home()">
    </div>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <md-select class="item_no" placeholder="Item No">
        <md-option *ngFor="let item_no of item_nos" value="item_no.value" (click)="change_item_no(item_no.value)">
            {{ item_no.viewValue }}
        </md-option>
    </md-select>
    <span style="width:1em"></span>
    <input mdInput placeholder="Bucketlist Name" type="text" class="search bg-white" (keyup)="onKey($event)"  value="{{values}}" required>
    <img src="./assets/svg/ic_search_white_24px.svg" (click)="search()">
    <span style="width:1em"></span>
    <md-menu #appMenu="mdMenu">
        <button md-menu-item (click)="logout()"> SIGN OUT </button>
    </md-menu>
    <img src="./assets/svg/ic_more_vert_white_24px.svg" [mdMenuTriggerFor]="appMenu">
</md-toolbar>
<router-outlet></router-outlet>