<img class="cancel" src="./assets/svg/ic_cancel_red_24px.svg" (click)="close()">
<div id='additem-div'>
    <h3>ADD BUCKETLIST ITEM</h3>
    <form [formGroup]="additemForm" *ngIf="active" (ngSubmit)="addItem()">
        <md-input-container class="md-input additem">
            <input mdInput placeholder="Bucketlist Item Name" formControlName="item_name"  type="text" id="item_name" required>
            <md-hint align="end" *ngIf="formErrors.item_name">{{ formErrors.item_name }}</md-hint>
        </md-input-container>
        <div id="date_picker" class="date-picker">
            <my-date-picker placeholder="Select Finishing Date" formControlName="end_date" [options]="myDatePickerOptions" required></my-date-picker>
        </div>
        <div class="additem-button additem">
            <button md-raised-button class="custom_button" type="submit" [disabled]="!additemForm.valid">ADD ITEM</button>
        </div>
    </form>
</div>